# binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# build output
dist/

# Go
*.test
*.out
coverage.html
coverage.out

# environment and secrets
.env
.infisical.json

# editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# docker
*.tar

# os
desktop.ini